<!-- http://localhost:3000/home/adout -->

<div class="container">

<% if flash[:notice] %>
　<div>
	<%= flash[:notice] %>
　</div>
<% end %>

	<h1>
		<br>
		welcome to <span class="glyphicon glyphicon-book">Bookers</span> !!
	</h1>
</div>