<h2>User into</h2>
<%= attachment_image_tag user, :profile_image, class: "attachment user profile_image fallback", fallback: "no_image.jpg" %>
<table class="table">
	<tbody>
		<tr>
			<th>name</th>
			<th><%= user.name %></th>
		</tr>
		<tr>
			<th>introduction</th>
			<th><%= user.introduction %></th>
		</tr>
	</tbody>
</table>
<div class="row">
	<% if user == current_user.id %>
		<%= link_to "プロフィール編集", edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_14248" %>
	<% end %>
</div>
